<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
      <key>NSLocationWhenInUseUsageDescription</key>
      <string>We use your location when the app is in use to autocomplete addresses and monitor geofences.</string>
      <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
      <string>We need background location access to trigger reminders when you arrive at a location.</string>
      <key>UIBackgroundModes</key>
      <array>
          <string>location</string>
      </array>
</dict>
</plist>
